.redColor{
    background-color: #EF5350;
    color: #FFF;
}

.blueColor{
    background-color: #1E88E5;
    color: #FFF;
}

.greenColor{
    background-color: #48C9B0;
    color: #FFF;
    
}

.purpleColor{
    background-color: #AB47BC;
    color: #FFF;
}

.faChanged{
    opacity: 0.20;
    font-size: 40px;
}