<div class="jumbotron">
    <h3>Hello User, welcome to your Dashboard</h3>
     {{message}}
    <div class="row">
        <div class="col-md-3">
            <div class="redColor well">
                <h5 class="text-center">Test Cases in Queue</h5>
                <hr>
                <div class="row">
                  <div class="col-md-8">
                  </div>
                  <div class="col-md-4">
                      <i class="faChanged fa fa-folder-open" aria-hidden="true"></i>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="greenColor well">
                <h5 class="text-center">Test Cases Resolved</h5>
                <hr>
                <div class="row">
                  <div class="col-md-8">
                  </div>
                  <div class="col-md-4">
                      <i class="faChanged fa fa-check-square-o" aria-hidden="true"></i>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="blueColor well">
                <h5 class="text-center">Notification</h5>
                <hr>
                <div class="row">
                  <div class="col-md-8">
                  </div>
                  <div class="col-md-4">
                      <i class="faChanged fa fa-comments-o" aria-hidden="true"></i>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="purpleColor well">
                <h5 class="text-center">Messages</h5>
                <hr>
                <div class="row">
                  <div class="col-md-8">
                  </div>
                  <div class="col-md-4">
                      <i class="faChanged fa fa-envelope-o" aria-hidden="true"></i>
                  </div>
                </div>
            </div>
        </div>
    </div> <!-- 1st Row  -->
    <div class="row">
      <div class="col-md-8">
          <!-- <img src="./img/Chart2.png" style="height:500px; width:700px"> -->
      </div>
      <div class="col-md-4">
        <!--  <div class="blueColor well">
          </div> -->
      </div>
    </div>
   
</div>